@import url(variables.css);

.main-checkout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 5rem);
}

.detalles-pedido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20%;
    margin-top: 30px;
}

.detalles-container {
    border: 1px solid ;border-radius: 7px;
    border: 2px solid rgba(35, 166, 240, 0.20);
    padding: 20px;
    width: 500px;
}

.detalles-pedido p {
    font-size: 16px;
}

.detalles-container hr {
    border: none;
    border: 1px solid rgba(35, 166, 240, 0.20);
}

.detalles-container span {
    color: #818181;
    margin-right: 8px;
}

.detalles-pedido h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
}

.detalles-flex {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.envio-detalle {
    display: flex;
    gap: 8px;
    align-items: center;
}

.opciones-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    margin-bottom: 60px;
}

.detalles-cart {
    background-color: #F2F2F2;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 20%;
    overflow-y: scroll;
    height: 100%;
}

.cupon-container {
    padding: 28px 0;
    margin-top: 30px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.cupon-container input[type="text"] {
    height: 40px;
    padding-left: 8px;
}

.cupon-container button {
    padding: 0 18px;
    height: 40px;
    background-color: #A8A8A8;
    color: white;
    border: none;
    border-radius: 4px;
}

.resumen-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resumen-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resumen-info p {
    font-size: 14px;
    color: #616161;
    font-weight: 500;
}

.resumen-info p:last-of-type {
    color: black;
}

.resumen-info span {
    font-size: 24px;
}