@import url(variables.css);

.hero {
    width: 100%;
    height: 70vh;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center center;
}

.hero-content {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h2 {
    font-size: 58px;
}

.hero-content p {
    font-size: 20px;
    display: block;
    width: 60%;
    text-align: center;
    margin-bottom: 1.8rem;
}