@import url(header.css);
@import url(footer.css);
@import url(hero.css);
@import url(utilidades.css);
@import url(banner.css);
@import url(comunidad.css);

.productos {
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
}

.productos-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.productos-title h3 {
    font-size: 36px;
    font-weight: 500;
}

.productos-title p {
    font-size: 18px;
    color: #5E6E89;
}

.productos-content {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 0;
}