@import url("assets/css/variables.css");
body {
    background-color: #f4f6f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cnt {
    width: 400px;
    max-width: 90%;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0,.05);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cnt h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #060505;
    text-align: center;
}
.cnt p {
    margin-top: -5px;
    margin-bottom: 25px;
    color: #666;
    font-size: 14px;
}

.frm {
    margin-top: 10px;
    width:100%; 
}

.cr{
    display: block;
    text-align: right;
    font-size: 0.8rem;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: none; 
    outline: none;
    background: transparent; 
}

.group-icon {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff; 
    display: flex;
    align-items: center;
    padding-left: 15px; 
    overflow: hidden; 
}


.input-icon {
    width: 20px;       
    height: 20px;      
    flex-shrink: 0; 
    object-fit: contain;
    vertical-align: middle;
    opacity: 0.6;   
}

.icon-email {
    transform: scale(0.85); 
}


.icon-psw {
    transform: scale(1.1); 
}

button {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 12px;
    background-color: var(--colorPrincipal, #007BFF); 
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background-color: var(--colorSecundario);
}


.spt-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #6c757d; 
}

.spt-line {
    flex-grow: 1; 
    height: 1px;
    background-color: #dee2e6; 
}

.spt-text {
    padding: 0 15px;
    font-weight: 500;
    font-size: 14px;
}


.social-row {
    display: flex;
    gap: 15px; 
    margin-bottom: 20px
}


.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    padding: 10px;
    background-color: white;
    border: 1px solid #ced4da; 
    border-radius: 8px;
    border-radius: 5px; 
    text-decoration: none; 
    color: #333; 
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.social-btn:hover {
    background-color: #f8f9fa; /* Cambio de color ligero al pasar el mouse */
    border-color: #b6b6b6;
}


.social-icon {
    width: 20px;  
    height: 20px;
    margin-right: 10px; 
    object-fit: contain;  
}
.sign {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}

.sign a {
    font-weight: bold;
    color: #007BFF;
    text-decoration: none;

}
    