@import url("assets/css/variables.css");


@media (max-width: 768px) {

    .product-container {
        flex-direction: column;
    }
}
.product-container{
    max-width: 1100px;
    margin: 40px auto; 
    padding: 0 20px;
    display: flex;
    gap: 50px; 
    align-items: flex-start;

}

.col-left{
    flex: 1;
    
}
.producto-img {
    width: 100%;
    height: 500px; 
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    background-color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.producto-img img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Evita que se estiren o pixelen */
}

.marketing-text{
    margin-top: 20px;
    text-align: center;
}
.txt{
    font-size: 1rem;
    font-weight: 500;
}
.txtx{
    font-size:1rem;
    color: var(--colorPrincipal);
    font-weight: bold;
}

.col-right{
    flex: 1;

}

.product-header h2{
    font-size:  1.8rem;
    font-weight: 600;
    margin-bottom: 10px;

}

.purchase-content {
    display: flex;
    align-items: flex-start;
    gap: 30px; 
    margin-bottom: 30px; 
}

.product-info {
    width: auto;    
    min-width: 220px; 
    display: flex;
    flex-direction: column; 
    gap: 15px;
} 

.price{
    font-size: 1.8rem;
    font-weight: 500;
    color:var(--colorPrincipal);
    margin-top: 18px;
    margin-bottom: 30px;
    white-space: nowrap; 
    display: flex;       
    align-items: center; 
    gap: 5px;
}

.qty-selector {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    width: 150px;
    
}

.qty-selector label{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.qty-selector input{
    width: 50px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
}

.carrito {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.garantia-type {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-top: 20px;
    width: 100%;
}

.option-card, .option-card2 {
display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between; 
    padding: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
}


.option-card:has(input:checked), 
.option-card2:has(input:checked) {
    border-color: var(--colorPrincipal); 
    background-color: #f0f9ff; 
    box-shadow: 0 0 0 1px var(--colorPrincipal);
}


.option-card span, .option-card2 span {
font-weight: 600;
    margin-left: 8px;
    margin-right: auto;
}


.select-plazo {
    margin-left: 10px; 
    padding: 4px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #555;
    background-color: white;

}


.small-text {
    width: 100%; 
    font-size: 0.85rem;
    color: #777;
    width: 100%;       
    margin-top: 8px;   
    line-height: 1.3;
}


.option-card input[type="radio"],
.option-card2 input[type="radio"] {
    accent-color: var(--colorPrincipal); 
    transform: scale(1.1); 
}
.cart{
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1); 
    align-items: center;
}


.add{
    width: 100%;
    background-color: var(--colorPrincipal);
    color: white;
    font-size: 1rem;
    font-weight: bold;;
    border: none;
    padding: 12px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    transition: 0.2s;
    display: flex;           
    align-items: center;     
    justify-content: center; 
    gap: 10px;  
    border-radius: 8px;
}
.add button{
    display: flex
}
.especific-box{
    margin: 50px 0 0 50px;
}
.especific-box p{
font-size: 1.1rem;
}




/* Quita las flechas en Chrome, Safari, Edge, Opera */
.qty-selector input[type=number]::-webkit-outer-spin-button,
.qty-selector input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


