@import url("assets/css/variables.css");

@media (max-width: 768px) {

    .product-container {
        flex-direction: column;
    }
}
.product-container{
    max-width: 1100px;
    margin: 40px auto; 
    padding: 0 20px;
    display: flex;
    gap: 50px; 
    align-items: flex-start;

}

.col-left{
    flex: 1;
    
}
.producto-img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.marketing-text{
    margin-top: 20px;
    text-align: center;
}
.txt{
    font-size: 1rem;
    font-weight: 500;
}
.txtx{
    font-size:1rem;
    color: var(--colorPrincipal);
    font-weight: bold;
}

.col-right{
    flex: 1;

}

.product-header h2{
    font-size:  1.8rem;
    font-weight: 600;
    margin-bottom: 10px;

}

.purchase-content {
    display: flex;
    align-items: flex-start;
    gap: 30px; 
    margin-bottom: 30px; 
}

.product-info {
    width: 30%; 
    flex-shrink: 0;
    display: flex;
    flex-direction: column; 
    gap: 15px;
} 

.price{
    font-size: 1.8rem;
    font-weight: 500;
    color:var(--colorPrincipal);
    margin-top: 18px;
    margin-bottom: 30px;
}

.qty-selector {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    width: 150px;
    
}

.qty-selector label{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.qty-selector input{
    width: 50px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
}

.carrito {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.garantia-type{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 15px;
    margin-top: 20px;


}
.option-card, .option-card2{
    flex:1;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 400px;

}

.small-text{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin: 10px;

}


.contenedor-cart{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    padding-left: 2px; /* Espacio antes del icono */
    overflow: hidden; /* Asegura que nada se salga de las esquinas redondas */

}
.cart{
    
    width: 20px;       
    height: 20px;      
    flex-shrink: 0; 
    object-fit: contain;
    vertical-align: middle; 
}

.add{
    width: 70%;
    background-color: var(--colorPrincipal);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 12px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    transition: 0.2s;
}

.especific-box strong{
    font-size: 1.4rem;
}
.especific-box p{
font-size: 1.2rem;

}

