@import url(variables.css);

.boton {
    display: flex;
    width: 200px;
    height: 58px;
    background-color: var(--colorPrincipal);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.boton2 {
    width: 260px;
    height: 45px;
    font-weight: 500;
}

.card-container {
    width: 240px;
    height: 230px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 0 4px 24px 0 rgba(123, 123, 123, 0.15);
    border-radius: 4px;
}

.card-image {
    background-color: var(--grisSuave);
    grid-row-start: 1;
    grid-row-end: 3;
}

.image-cart {
    width: 160px;
    height: 130px;
}

.image-product {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-info {
    padding: 8px 14px;
}

.card-info p {
    font-size: 18px;
}

.card-info p:first-of-type {
    margin-bottom: 6px;
}

.card-info .price {
    font-size: 20px;
}

.price {
    color: var(--colorPrincipal);
    width: 100%;
    display: inline-block;
    text-align: right;
    font-weight: 500;
}

.price::before {
    content: "$";
}

.price2 {
    text-align: left;
}

.option {
    font-size: 18px;
    color: var(--colorPrincipal);
    text-decoration: underline;
    text-align: center;
    display: block;
}

.option2 {
    display: inline-block;
}

.list-product {
    display: flex;
    gap: 30px;
}

.product-info p {
    font-size: 22px;
    margin-bottom: 12px;
}

.bold {
    font-weight: bold;
}

.image-count-icon {
    position: relative;
    margin-bottom: 18px;
}

.count-icon {
    font-size: 16px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--colorPrincipal);
    color: white;
    text-align: center;
    vertical-align: middle;
    top: -8px;
    right: -8px;
}