:root {
    /* Colores */
    --colorPrincipal: #23A6F0;
    --colorSecundario: #209de5;
    --grisSuave: #F7F8FA;
    --negro: #272727;

    /* Fuentes */
    --fuentePrincipal: 'Poppins', sans-serif;
    --fuenteLogo: 'Tilt Warp', sans-serif;
}